<%- include('../includes/head&side.ejs') %>


        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body ">
                            <h3 class="   pb-2  d-flex justify-content-center ">ورود کاربر</h3>
                            <% if (errorMessage) { %>
                                <h6 class=" alert alert-danger d-flex justify-content-center" role="alert">
                                    .شماره موبایل یا پسورد به اشتباه وارد شده
                                </h6>
                                <% } %>
                                    <form novalidate autocomplete="off">

                                        <div class="row d-flex flex-row-reverse ">
                                            <div class="col-md-6 mb-4">

                                                <div class="form-outline">
                                                    <input type="tel" id="phoneNumber"
                                                        class="form-control form-control-lg <%= validationErrors.find(e => e.param === 'phoneNumber' || e ==='phoneNumber') ? 'invalid' : '' %>"
                                                        name="phoneNumber" value="<%= oldInput.phoneNumber %>" />
                                                    <label class="form-label d-flex flex-row-reverse "
                                                        for="phoneNumber">شماره
                                                        موبایل</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4">

                                                <div class="form-outline">
                                                    <input type="password" id="password"
                                                        value="<%= oldInput.password %>"
                                                        class="form-control form-control-lg <%= validationErrors.find(e => e.param === 'password' || e ==='password') ? 'invalid' : '' %>"
                                                        name="password" />
                                                    <label class="form-label d-flex flex-row-reverse"
                                                        for="password">password-پسورد</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row d-flex flex-row-reverse justify-content-center">
                                            <div class=" mr-4  ">
                                                <input class="btn btn-primary btn-lg " formaction="/login"
                                                    formmethod="post" type="submit" value="ورود" />
                                            </div>

                                            <div class=" mr-4  ">
                                                <input class="btn btn-primary btn-lg " formaction="/forgetPassword"
                                                    formmethod="post" type="submit" value="فراموشی رمز عبور" />
                                            </div>
                                        </div>
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../includes/footer.ejs') %>
