<%- include('../includes/head&side.ejs') %>


    <section class="vh-100 gradient-custom ">
        <div class="container d-flex ">

            <table class="editorTable table mt-5 ">
                <thead>
                    <tr>
                        <th scope="col ">#</th>
                        <th scope="col ">نام و نام خاوادگی</th>
                        <th scope="col  ">شماره همراه</th>
                        <th scope="col ">ایمیل</th>
                        <th scope="col ">انتخاب</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < EditorArray.length; i++) { %>
                        <tr>
                            <th scope="row"><%= i+1 %></th>
                            <td>
                                <%= EditorArray[i].firstName +' '+ EditorArray[i].lastName %>
                            </td>
                            <td>
                                <%= EditorArray[i].number %>
                            </td>
                            <td>
                                <%= EditorArray[i].email %>
                            </td>
                            <td>
                                    <a class="btn btn-outline-dark font-weight-bold"  href="/admin/editors/<%= EditorArray[i].number %>">انتخاب</a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

        </div>
    </section>

    </body>

    </html>