<%- include('../includes/head&side.ejs') %>



    <section class="vh-100 gradient-custom">
        <div class="container  h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class=" card-body   ">

                            <h3 class="   pb-2  d-flex justify-content-center ">
                                <%= selection %> کاربر
                            </h3>
                            <% if (errorMessage) { %>
                                <h6 class=" alert alert-danger d-flex justify-content-center  " role="alert">
                                    <%= errorMessage %>
                                </h6>
                                <% } %>



                                    <form
                                        action="<%= update  ? `/admin/users/${oldInput.phoneNumber}` : '/admin/addUser' %>"
                                        method="post" novalidate>

                                        <div class="row d-flex flex-row-reverse">
                                            <div class="col-md-6 mb-4">

                                                <div class="form-outline">
                                                    <input type="text" id="firstName" dir="rtl" name="firstName"
                                                        value="<%= oldInput.firstName %>"
                                                        class="form-control form-control-lg <%= validationErrors.find(e => e.param === 'firstName') ? 'invalid' : '' %>" />
                                                    <label class="form-label d-flex flex-row-reverse"
                                                        for="firstName">نام</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4">

                                                <div class="form-outline">
                                                    <input type="text" id="lastName" dir="rtl" name="lastName"
                                                        value="<%= oldInput.lastName %>"
                                                        class="form-control form-control-lg <%= validationErrors.find(e => e.param === 'lastName') ? 'invalid' : '' %>" />
                                                    <label class="form-label d-flex flex-row-reverse" for="lastName">نام
                                                        خانوادگی</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 d-flex align-items-center ">

                                                <div class="form-outline datepicker w-100">
                                                    <input type="tel"
                                                        class="form-control form-control-lg <%= validationErrors.find(e => e.param === 'phoneNumber'|| e ==='phoneNumber') ? 'invalid' : '' %>"
                                                        id="phoneNumber" value="<%= oldInput.phoneNumber %>"
                                                        name="phoneNumber" />
                                                    <label for="phoneNumber"
                                                        class="form-label d-flex flex-row-reverse">شماره
                                                        موبایل</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4 d-flex align-items-center ">

                                                <div class="form-outline ">
                                                    <input type="email" id="email" name='email'
                                                        value="<%= oldInput.email %>"
                                                        class="form-control form-control-lg <%= validationErrors.find(e => e.param === 'email'|| e ==='email') ? 'invalid' : '' %>" />
                                                    <label class="form-label d-flex flex-row-reverse"
                                                        for="email">Email-ایمیل</label>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row d-flex flex-row-reverse">
                                            <div class="col-md-6 mb-4 pb-2">

                                                
                                                <% if(update){ %>
                                                    <div class="form-outline d-flex justify-content-around pt-2">
                                                        <input type="checkbox" checked data-toggle="toggle" name="state"
                                                            data-on="فعال" data-off="غیر فعال" data-onstyle="success"
                                                            data-offstyle="danger">

                                                        <label class="form-check-label d-flex flex-row-reverse "
                                                            for="state">وضعیت</label>
                                                    </div>
                                                    <% } %>
                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <input type="password" id="password" name="password"
                                                        value="<%= oldInput.password %>"
                                                        class="form-control form-control-lg <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" />
                                                    <label class="form-label d-flex flex-row-reverse"
                                                        for="password">کلمه عبور</label>
                                                </div>
                                                <div class="form-outline">
                                                    <input type="password" id="passwordConfirmed"
                                                        value="<%= oldInput.passwordConfirmed %>"
                                                        name="passwordConfirmed"
                                                        class="form-control form-control-lg <%= validationErrors.find(e => e.param === 'passwordConfirmed') ? 'invalid' : '' %>" />
                                                    <label class="form-label d-flex flex-row-reverse"
                                                        for="passwordConfirmed"> تکرار کلمه عبور
                                                    </label>
                                                </div>

                                            </div>




                                        </div>


                                        <div class="mt-4 pt-2 d-flex justify-content-center">
                                            <input class="btn btn-primary btn-lg " type="submit"
                                                value="<%= selection %>" />
                                        </div>

                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </body>

    </html>