<%- include('../includes/head&side.ejs') %>


    <section class="vh-100  gradient-custom  ">
        <div class="  col text-center p-5">

            <table class="editorTable table mt-5 ">
                <thead>
                    <tr>
                        <th scope="col ">#</th>
                        <th scope="col ">نام و نام خاوادگی</th>
                        <th scope="col  ">شماره همراه</th>
                        <th scope="col ">ایمیل</th>
                        <th scope="col ">وضعیت</th>
                        <th scope="col ">انتخاب</th>
                        <th scope="col ">حذف</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < userArray.length; i++) { %>
                        <tr>
                            <th scope="row">
                                <%= i+1 %>
                            </th>
                            <td>
                                <%= userArray[i].firstName +' '+ userArray[i].lastName %>
                            </td>
                            <td id=' phoneNumber'>
                                    <%= userArray[i].phoneNumber %>
                            </td>
                            <td>
                                <%= userArray[i].email %>
                            </td>
                            <td>
                                <% if (userArray[i].state===true) {%>
                                    <p class=' m-0 p-1 text-success font-weight-bold border rounded border-success
                                    d-inline-flex bg-white'>فعال
                                    </p>
                                    <% }else { %>
                                        <p
                                            class='m-0 p-1 text-danger font-weight-bold rounded border border-danger d-inline-flex bg-white'>
                                            غیر فعال
                                        </p>
                                        <% } %>
                            </td>
                            <td>
                                <a class="m-0 p-1 text-success font-weight-bold rounded border border-success d-inline-flex bg-white"
                                    href="/admin/updateUser/<%= userArray[i].phoneNumber %>">انتخاب</a>
                            </td>
                            <td>
                                <input value='<%= userArray[i].phoneNumber %>' type="hidden"></input>
                                <input onclick="deleteRow(this)"
                                    class="m-0 p-1 text-danger font-weight-bold rounded border border-danger d-inline-flex bg-white"
                                    type="button" value="حذف"></input>
                                <script>
                                    function deleteRow(p) {
                                        const row = p.parentNode.parentNode
                                        console.log(row)
                                        const phoneNumber = p.previousElementSibling.value
                                        // fetch(`/admin/delete/user/${phoneNumber}`, {
                                        //     method: "DELETE",
                                        //     headers: {
                                        //     },
                                        // })
                                        //     .then((response) => {
                                        //         return response.json();
                                        //     })
                                        //     .then((result) => {
                                        //         console.log(result)
                                        //         row.parentNode.removeChild(row);
                                        //     })
                                        //     .catch((err) => {
                                        //         console.log(err);
                                        //     });
                                    }
                                </script>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <a class="m-0 p-1 text-success font-weight-bold rounded border border-success d-inline-flex bg-white "
                href="/admin/addUser">ایجاد کاربر جدید</a>

        </div>
    </section>

    </body>

    </html>