<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap4-toggle.min.js"></script>
    <link rel="stylesheet" href="/menuBuilder/bootstrap-iconpicker/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="/assets/css/custome.css">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body class="min-vh-100 gradient-custom">


    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-info fixed-right text-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sideMenu"
                aria-controls="sideMenu" aria-expanded="false" aria-label="Toggle navigation"> <span
                    class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse " id='sideMenu'>
                <a class="navbar-brand mx-2" href="/admin">cobex cms</a>
                <a class="navbar-brand mx-2 " style="width: 5rem" href="/admin"><img
                        class="logo-border border border-thickness rounded" src="/pictures/indian.png" alt="کوبکس"
                        width="80" height="80"></a>
                <ul class="navbar-nav ">

                    <li class="nav-item ">
                        <div class="dropdown">
                            <a class="nav-link h7 my-0 dropdown-toggle <%= path === '/users' ? 'active' : '' %>"
                                type="button" data-toggle="dropdown">کاربر ها</a>
                            <div class="dropdown-content">
                                <a href="/admin/users">کاربر ها </a>
                                <a href="/editor/userProfile">مشخصات کاربر</a>
                            </div>
                        </div>
                        <hr class="my-0">
                    </li>

                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link h7 my-0 dropdown-toggle <%= path === '/storage' ? 'active' : '' %>" href="/admin/storage" type="button">فایل ها</a>
                        </div>
                        <hr class="my-0">
                    </li>
                    <li class=" nav-item">
                        <div class="dropdown">
                            <a class="nav-link h7 my-0 dropdown-toggle <%= path === '/menu' ? 'active' : '' %>" href="/admin/menus" type="button">فهرست ها</a>
                        </div>

                        <hr class="my-0">
                    </li>
                    <li class=" nav-item">
                        <div class="dropdown">
                            <a class="nav-link h7 my-0 dropdown-toggle <%= path === '/setting' ? 'active' : '' %>" href="/admin/settings" type="button">تنظیمات</a>
                        </div>
                        <hr class="my-0">
                    </li>
                    <li class=" nav-item">
                        <div class="dropdown">
                            <a class="nav-link h7 my-0 dropdown-toggle <%= path === '/page' ? 'active' : '' %>" href="/admin/pages" type="button">صفحه ها</a>
                        </div>
                        <hr class="my-0">
                    </li>
                    <li class=" nav-item ">

                        <div class="dropdown">
                            <a class="nav-link h7 my-0 dropdown-toggle <%= path === '/post' ? 'active' : '' %>" href="#" type="button"
                                data-toggle="dropdown">نوشته ها</a>
                            <div class="dropdown-content">
                                <a href="/admin/posts">نوشته ها </a>
                                <a href="/admin/addPost">نوشته جدید</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div id="enterance">
                    <form method="post" action="/logout">
                        <input type="hidden" name="name" value="value" />
                        <a id='logout' class=" navbar-brand mx-2 h6 text-warning my-0"
                            onclick="this.parentNode.submit();" href="#">خروج</a>
                    </form>
                    <a id='login' class=" navbar-brand mx-2 h6 text-warning my-0" href="/login">ورود</a>
                </div>

            </div>
        </nav>

    </header>